<div class="container">
  <div class="row">
    <div class="col-md-6">
      <br><br>
      <table class="table table-dark">
        <thead>
        <tr>
          <th colspan="3" >Top Planets</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1.{{planets.data[0].name}}({{planets.data[0].visits}} visits)</td>
          <td>2.{{planets.data[1].name}}({{planets.data[1].visits}} visits)</td>
          <td>3.{{planets.data[2].name}}({{planets.data[2].visits}} visits)</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col" >Name</th>
          <th>Planet</th>
          <th>Visits</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of persons.data">
          <td>{{ item.name +" "+item.lastName }}</td>
          <td>{{ item.planet}}</td>
          <td>{{ item.visits}}</td>
          <td><button class="btn btn-lg btn-outline-primary" (click)="open(content, item)">Info</button></td>
        </tr>
        </tbody>
      </table>

      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">{{ personDetail.name +" "+personDetail.lastName }}</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <table class="table table-striped">
                <thead>
                <tr>
                   <th scope="col">Height</th>
                   <th scope="col">Weight</th>
                   <th scope="col">Date Birth</th>
                   <th>Visits</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>{{ personDetail.height }} CM</td>
                  <td>{{ personDetail.weight }} KG</td>
                  <td>{{ personDetail.dateBirth | date: 'dd/MM/yyyy' }}</td>
                  <td>{{ personDetail.visits}}</td>
                </tr>
                </tbody>
              </table>
        </div>
      </ng-template>
    </div>
  </div>

</div>

